.apresentacao-rodape{
    background-color: #092126;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 24px;

}

.apresentacao-rodape h2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #D9B6A3;
}


@media (max-width: 768px) {
    .apresentacao-rodape {
        padding: 16px; /* Reduzir o padding para dispositivos menores */
    }

    .apresentacao-rodape h2 {
        font-size: 18px; /* Reduzir o tamanho da fonte para dispositivos menores */
    }
}